.vs/Tidez/DesignTimeBuild/.dtbcache.v2
ThemingDemo.Android/bin/Debug/boswell.terry.Tidez-armeabi-v7a-Signed.apk
ThemingDemo.Android/bin/Debug/boswell.terry.Tidez-arm64-v8a.apk
ThemingDemo.Android/bin/Debug/boswell.terry.Tidez-arm64-v8a-Signed.apk
ThemingDemo.Android/bin/Debug/boswell.terry.Tidez-Signed.apk
ThemingDemo.Android/bin/Debug/Tidez.dll.mdb
ThemingDemo.Android/bin/Debug/boswell.terry.Tidez.apk
ThemingDemo.Android/bin/Debug/boswell.terry.Tidez-x86_64.apk
ThemingDemo.Android/bin/Debug/boswell.terry.Tidez-x86_64-Signed.apk
ThemingDemo.Android/bin/Debug/boswell.terry.Tidez-x86.apk
ThemingDemo.Android/bin/Debug/boswell.terry.Tidez-x86-Signed.apk
ThemingDemo.Android/bin/Debug/boswell.terry.Tidez-armeabi-v7a.apk
ThemingDemo/obj/Tidez.csproj.nuget.g.targets
ThemingDemo/obj/Tidez.csproj.nuget.g.props
ThemingDemo/obj/Tidez.csproj.nuget.dgspec.json
ThemingDemo/obj/Debug/netstandard2.0/XamlC.stamp
ThemingDemo/obj/Debug/netstandard2.0/Views/UserSummaryPage.xaml.g.cs
ThemingDemo/obj/Debug/netstandard2.0/Views/UserDetailsPage.xaml.g.cs
ThemingDemo/obj/Debug/netstandard2.0/Views/ThemeSelectionPage.xaml.g.cs
ThemingDemo/obj/Debug/netstandard2.0/Views/LocationsPage.xaml.g.cs
ThemingDemo/obj/Debug/netstandard2.0/Tidez.csproj.FileListAbsolute.txt
ThemingDemo/obj/Debug/netstandard2.0/Themes/DarkTheme.xaml.g.cs
ThemingDemo/obj/Debug/netstandard2.0/App.xaml.g.cs
ThemingDemo/obj/project.assets.json
ThemingDemo/obj/Debug/netstandard2.0/Tidez.AssemblyInfo.cs
ThemingDemo/obj/Debug/netstandard2.0/Themes/LightTheme.xaml.g.cs
